@font-face{
 font-family: "Amble Bold";
 src: url('../fonts/Amble-Bold.woff');

}
@font-face{
    font-family: "Amble Light";
    src: url('../fonts/Amble-Light.woff');
   
   }
   @font-face{
    font-family: "Amble Regular";
    src: url('../fonts/Amble-Regular.woff');
   
   }
   @font-face{
    font-family: "Avenir Light";
    src: url('../fonts/Avenir-Light.woff');
   
   }
   @font-face{
    font-family: "Big John";
    src: url('../fonts/BigJohn.woff');
   
   }

@font-face{
    font-family: "Slim Joe";
    src: url('../fonts/SlimJoe.woff');
   
   }


   .caption-header-text{
       font-family: "Big John";
       font-size:48px;
       line-height: 60px;
       color:#ffffff;
       text-align: center;
   }
   .caption-text{
    font-family: "Amble Regular";
    font-size:22px;
    line-height: 30px;
    text-align: center;
    color:#ffffff;
   }

   .caption{
    .captionfont;
   }
   .text{
       .textfont;
       .marginator;
   }

   .advantage-caption{
       font-family: "Amble Regular";
       font-size:24px;
       line-height: 24px;
   }

   .advantage-text{
    font-family: "Amble Regular";
    font-size:16px;
    line-height: 30px; 
   }

   .location-caption{
    font-family: "Big John";
    font-size:24px;
    line-height: 60px; 
   }
   .location-text{
    font-family: "Amble Light";
    font-size:22px;
    line-height: 40px;
    font-style: italic;
   }
   .feedback-form input[type="text"],input[type="email"]{
    font-family: "Amble Regular";
    font-style: italic;
    font-size:18px;
    line-height: 40px; 
   }

   .footer-copyright{
    font-family: "Amble Regular";
    font-size:16px;
    line-height: 40px; 
    color: #ffffff; 
   }
   .designer-name{
    font-family: "Amble Bold";
    font-size:16px;
    line-height: 40px; 
    color: #d87843; 
   }
.our-works-menu{
.noliststyle;
}
   .works-menu-item{
    .wrkmenuitemfont;
    }
   .about-us-caption{
    font-family: "Big John";
    font-size:24px;
    line-height: 36px;
   } 